html,body,div,ul,ol,li,a,img,span,p,b,input,label {
	margin:0;
	padding:0;
	border:0;
}

ul,ol {
	list-style:none;
}

a {
	text-decoration: none;
}

a:hover {

}

table {
	border-spacing:0;
	border-collapse:collapse;
}